@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brandon Text';
  src: url('/fonts/BrandonText-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('/fonts/BrandonText-RegularItalic.otf');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('/fonts/BrandonText-Light.otf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('/fonts/BrandonText-Bold.otf');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('/fonts/BrandonText-Thin.otf');
  font-style: bold;
  font-weight: 100;
  font-display: swap;
}

* {
  font-family: 'Brandon Text';
}

body {
  @apply bg-gray-50;
}

form {
  input,
  select,
  textarea {
    @apply border px-2 py-1 w-full;
  }
  
  label {
    @apply font-normal text-gray-400 text-sm;
  }
}


.meta-title {
  @apply font-bold text-gray-400 uppercase text-xs;
}

table {
  @apply text-left w-full;

  thead {
    tr {
      @apply bg-gray-800 text-white;
      
      th {
        @apply p-2 transition-all;

        &:first-of-type {
          @apply rounded-tl;
        }

        &:last-of-type {
          @apply rounded-tr;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        @apply p-2;

        button,
        .button {
          @apply inline-block mx-2 p-2 relative rounded-full;

          &:last-of-type {
            @apply mr-0;
          }
        }
      }

      &:hover {
        td {
          @apply bg-gray-200;
        }
      }
    }
  }
}